

div.md h1 {
    display: block;
    font-size: 2em !important;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold !important;
}


div.md b {
    font-weight: bold;
}

div.md blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

div.md caption {
    display: table-caption;
    text-align: center;
}

div.md code {
    font-family: monospace;
}

div.md del {
    text-decoration: line-through;
}

div.md h2 {
    display: block;
    font-size: 1.5em !important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold !important;
}

div.md h3{
    display: block;
    font-size: 1.17em !important;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold !important;
}

div.md ul{
    list-style-type: disc !important;
    
}
div.md ol{
    list-style-type: decimal !important;
}


div.md h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold !important;
}

div.md h5 {
    display: block;
    font-size: .83em !important;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold !important;
}

div.md h6 {
    display: block;
    font-size: .67em !important;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold !important;
}

div.md hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
div.md img{
    display: inline-block;
}



div.md p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

div.md u{
    text-decoration: underline !important;
}

